.container{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.01rem;
    justify-content: space-around;
    background-color: aliceblue;

    h2{
        font-size: 40px;
        font-weight: 500;
    }

    .hashedUrlContainer{ 
        position: relative;
        display:flex;
        align-items: center;
        input{
            width: 700px;
            padding: 10px 40px;
            height:50px;
            border-radius: 5px;
            border:1px solid red
        }

        .copyIcon{
            position: absolute;
            cursor: pointer;
            margin-left: 5px;
            right: 15px;
        }
    }

    form{
        background-color: lightgoldenrodyellow;
        width: 50%;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;

        .formInput{
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            label{
                margin-bottom: 10px;
                font-size: 16px;
            }
            input{
                padding:15px;
                width: 400px;
                border-radius: 3px;
                border:1px solid #8c8c8c;
            }
        }
        button{
            border:none;
            outline: none;
            font-weight: 500;
            font-size: 16px;
            margin-top: 10px;
            background-color: teal;
            color: white;
            padding:15px;
            width: 430px;
            cursor: pointer;
        }
    }
}